@import 'tailwindcss';

:root {
	--font-dmsans: 'DM Sans', sans-serif;

	--color-primary: #ffffff;
	--color-secondary: #a4a4a4;
	--color-background: #131313;
	--color-background-light: #1d1d1d;
}

@theme {
	--breakpoint-2xs: 320px;
	--breakpoint-xs: 480px;

	--font-dmsans: var(--font-dmsans);

	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
	--color-background: var(--color-background);
	--color-background-light: var(--color-background-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
	@apply font-dmsans text-primary;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #272727 var(--color-background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-secondary);
	border-radius: 20px;
	border: 2px solid #272727;
}

html {
	scroll-behavior: smooth;
}

.background {
	background: var(--color-background);
	background-image: url('/images/tile.svg');
	background-size: repeat;
	background-position: center top;
}
