@import 'tailwindcss';

:root {
	--font-dmsans: 'DM Sans', sans-serif;

	--color-background: #131313;
}

@theme {
	--breakpoint-2xs: 320px;
	--breakpoint-xs: 480px;

	--font-dmsans: var(--font-dmsans);

	--color-background: var(--color-background);
}

@layer components {
	html,
	body {
		@apply font-dmsans font-light text-white;
	}
}

.background {
	background: var(--color-background);
	background-image: url('/images/tile.svg');
	background-size: repeat;
	background-position: center top;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #272727 var(--color-background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-secondary);
	border-radius: 20px;
	border: 2px solid #272727;
}

html {
	scroll-behavior: smooth;
}
