@import 'tailwindcss';

@theme {
	--font-dmsans: 'DM Sans', sans-serif;

	--color-primary: #ffffff;
	--color-secondary: #a4a4a4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
	@apply font-dmsans text-primary;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #272727 #121212;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #121212;
}

*::-webkit-scrollbar-thumb {
	background-color: #121212;
	border-radius: 20px;
	border: 2px solid #272727;
}

html {
	scroll-behavior: smooth;
}

.background {
	background: #121212;
	background-image: url('/images/tile.svg');
	background-size: repeat;
	background-position: center top;
}
